<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Posts </title>
        <!-- <link rel="stylesheet" href="/public/style.css"> -->
         <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <h1  style="color: blue;">Quora Posts</h1>
        <% for(post of posts) { %>
            <div class="post">
                <h3 class="user">@<%= post.username %></h3>
                <h3 class="content"><%= post.content %></h3>
            </div>
        <% } %>

        <br><br><br>
        <a href="http://localhost:8080/posts/new">Create New Post</a>
    </body>
</html>